[submodule "patient-service"]
	path = patient-service
	url = https://github.com/patient-management-io/patient-service.git
[submodule "billing-service"]
	path = billing-service
	url = https://github.com/patient-management-io/billing-service.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/patient-management-io/auth-service.git
[submodule "analytics-service"]
	path = analytics-service
	url = https://github.com/patient-management-io/analytics-service.git
